{% section 'header' %}

<main class="container">
  {% section 'collection-filters' %}   {# Unsere neue Dropdown-Filterleiste #}
  {% section 'collection-sort' %}      {# Nur das Sortier-Select #}
  {% section 'product-grid' %}
</main>

{% section 'cart-drawer' %}
{% section 'footer' %}
