{% section 'header' %}

<main class="container">
  {% section 'collection-filters' %}   
  {% section 'collection-sort' %}      
  {% section 'product-grid' %}
</main>

{% section 'cart-drawer' %}
{% section 'footer' %}
