{% section 'header' %}

<main class="container">
  <!-- DEBUG TEMPLATE: collection.liquid is rendering ✅ -->
{% section 'filters-test' %}
  {% section 'collection-sort' %}
  {% section 'product-grid' %}
</main>

{% section 'cart-drawer' %}
{% section 'footer' %}
