{% section 'header' %}

<main class="container">
  {% section 'collection-sort' %}
  {% section 'collection-price-filter' %}
  {% section 'product-grid' %}
</main>

{% section 'cart-drawer' %}
{% section 'footer' %}
