{% section 'header' %}

<main class="container">
  <!-- DEBUG: collection.liquid rendering ✅ -->
  {% section 'hw-filters' %}
  {% section 'collection-sort' %}
  {% section 'product-grid' %}
</main>

{% section 'cart-drawer' %}
{% section 'footer' %}

