{% render 'hw-header' %}
{% render 'hw-breadcrumbs' %}
{% section 'header' %}

<main class="container">
  <!-- DEBUG: collection.liquid is LIVE -->
  {% render 'hw-filters' %}
  {% section 'collection-sort' %}
  {% section 'product-grid' %}
</main>

{% section 'cart-drawer' %}
{% section 'footer' %}

